/* Prevent Reddit Companion from upsetting the layout */
html{position:relative;}

/* image macro filter */
#siteTable .thing.linkflair-macro:lang(nm) { display: none }

/*selfposts only*/
.listing-page #siteTable .thing:not(.self):lang(sf) {
	display: none;
}

.submit-page #url-field .title:after {
	color: #E9363A;
	content: " If submitting a meme (reaction gif, image macro), tag it with link flair";
	font-size: 0.75em;
}

body {
	/*background: url(%%bg%%) no-repeat center center fixed;*/
	background: #f7f7f7;
	color: #1C1C1C !important;
	font-family: "trebuchet ms", sans-serif;
}

div#header {
	background: #eee;
	border: 0;
	height: 90px;
	padding-left: 10px;
}

#sr-header-area {
	background: 0;
	border: 0;
	margin-left: 20px;
	text-transform: lowercase;
	font-size: 12px !important;
}

#sr-header-area a {
	color: #1c1c1c;
}

#sr-header-area a:hover {
	color: #0076C4;
	text-decoration: none;
}

#sr-header-area span.title {
	color: #1c1c1c;
}

#sr-header-area div.drop-choices a {
	color: #1c1c1c;
}

#sr-header-area div.drop-choices a:hover {
	color: #fff;
	background: #0076C4;
}

#sr-header-area a#sr-more-link {
	background: url(%%header%%);
}

#sr-header-area .selected a {
	color: #0076C4;
}

#header-bottom-left span.pagename a {
	background: url(%%headertext%%);
	display: block;
	height: 66px;
	margin: -65px 60px;
	position: absolute;
	width: 254px;
}

#header-bottom-left span.pagename {
	font-size: 0;
}

#header-bottom-left ul.tabmenu {
	margin: 40px 0 0 265px;
	position: absolute;
}

#header-bottom-left ul.tabmenu li {
	font-size: 16px;
	margin: 0;
}

.tabmenu li a {
	background: none;
	color: #8b8b8b;
	display: inline-block;
	font-weight: normal;
	letter-spacing: -1px;
	padding-top: 10px;
}

img#header-img {
	margin: -9px 0;
}

#header-bottom-left ul.tabmenu li a:hover {
	background: url(%%arrow%%) no-repeat top center;
}

#header-bottom-left ul.tabmenu li.selected a {
	background: url(%%arrow%%) no-repeat top center;
	border: 0;
	color: #1c1c1c;
}

#header-bottom-right {
	background: #555;
	border-radius: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 14px !important;
	line-height: 20px;
	padding: 0 10px 10px 10px;
	right: 0 !important;
	z-index: 2000;
}

.res #header-bottom-right {
    top: 64px;
}

#header-bottom-right a {
	color: #eee;
	font-size: 12px !important;
}

#header-bottom-right a:hover {
	color: #0076C4;
}

#header-bottom-right #modmail {
	top: 2px;
}

/*end header stuff*/
/*start sidebar stuff*/
.side{
	background: #eee;
	border-radius: 5px;
	color: #1c1c1c;
	padding: 5px;
	margin: 7px 5px;
}

.side a {
	color: #0076C4;
}

.side a:hover {
	color: #0BBFDB;
}

.side a:visited {
	color: #0076C4;
}

.side h6 {
	list-style: none;
	position: fixed;
	top: 130px;
	right: 410px;
	z-index: 80;
	margin: 0;
	padding: 0;
	display: table;
}

/*
.side h6 a {
	color: #fff !important;
	display: block !important;
	z-index: 1000 !important;
}

.side h6 a:hover {
	background: url(%%hullo%%) no-repeat top left;
	height: 216px;
	width: 432px;
	display: block;
	z-index: 1000;
}
*/

.side .linkinfo {
	background: #eee;
	border: 0;
	color: #1c1c1c;
}

.side .linkinfo .upvotes {
	color: #ff9900 ;
}

.side .linkinfo .downvotes {
	color: #0076C4;
}

.side form#search input {
	margin-top: -2px;
}

.leavemoderator, .leavecontributor-button, .flairtoggle, .icon-menu a {
	background: 0 !important;
}

.titlebox .usertext .md {
	margin: 0;
	overflow: visible;
	padding: 0;
	line-height: 140%;
}

.titlebox .usertext .md > h2:after {
	border-color: transparent #153144 transparent transparent;
	border-style: solid;
	border-width: 14px;
	content: "";
	display: block;
	height: 0;
	margin-left: -24px;
	margin-top: -12px;
	position: absolute;
	width: 0;
	z-index: -1;
}

.md > h2 {
	background: #0076C4;
	color: #eee;
	font-weight: bold;
	font-size: 15px !important;
	line-height: 130%;
	padding: 2px 0 2px 10px;
	margin: 10px 30px 5px -18px;
	z-index: 100 !important;
}	

.sitetable .md > h2 {
	margin-left: 0px !important;
}

/*
.submit .morelink {
	background: 0;
	border: 0;
	display: block;
	font-size: 16px;
	font-weight: normal;
	height: 29px;
	letter-spacing: -1px;
	line-height: 29px;
	margin-left: -5px;
	position: absolute;
	text-align: center;
	top: 54px;
	z-index: 99999;
}

.nub {
	visibility: hidden;
}

.morelink:hover {
	background: 0;
	z-index: 99999;
}
*/

.morelink a:hover {
	color: #0076C4;
}

.nub {
	background-color: #eee !important;
}

/*
div.sidebox.submit {
	height: 0;
}

.side .sidebox.create {
	display: none;
}

div.submit .spacer {
	visibility: hidden;
}
*/

.titlebox h3:first-child {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	left: 340px;
	padding: 3px;
	position: absolute;
	top: 30px;
	z-index: 100;
}

/* end sidebar stuff */
/* main page stuff */
#siteTable {
	background: none;
	border-radius: 5px;
	margin-right: 325px;
	padding: 5px 5px 5px 5px;
}

.listing-page #siteTable .thing, .search-page #siteTable .thing {
	background: #eee;
	border-radius: 5px;
	margin: 5px 0 0 0;
	padding: 5px;
}

.listing-page #siteTable .thing:hover, .search-page #siteTable .thing:hover {
	background: #fff;
}

/*.listing-page #siteTable .thing a, .search-page #siteTable .thing a {
	font-weight: bold !important;
}*/

.listing-page #siteTable .thing a:hover, .search-page #siteTable .thing a:hover {
	color: #0076C4 !important;
}

.listing-page #siteTable .thing a.title, .search-page #siteTable .thing a.title {
	color: #1c1c1c; 
}

.listing-page #siteTable .thing .tagline a, .search-page #siteTable .thing .tagline a {
	color: #aaa; 
}

.listing-page #siteTable .thing .tagline a:hover, .search-page #siteTable .thing .tagline a:hover {
	color: #0076C4; 
	text-decoration: none;
}

.listing-page #siteTable .thing a.title:visited, .search-page #siteTable .thing a.title:visited {
	color: #888;
}

.listing-page #siteTable .thing ul.flat-list, .search-page #siteTable .thing ul.flat-list {
	visibility: hidden;
}
.listing-page #siteTable .thing:hover ul, .search-page #siteTable .thing:hover ul {
	visibility: visible;
}

.listing-page #siteTable .thing ul a:hover, .search-page #siteTable .thing ul a:hover {
	text-decoration: none;
}

.listing-page #siteTable .thing ul .nsfw-stamp, .search-page #siteTable .thing ul .nsfw-stamp {
	visibility: visible;
}

.listing-page #siteTable .thing ul .first .comments, .search-page #siteTable .thing ul .first .comments {
	visibility: visible;
}
.listing-page #siteTable .thing ul .first .empty, .search-page #siteTable .thing ul .first .empty {
	visibility: visible;
}

div.arrow {
/*	margin: 0;*/
	height: 13px;
	width: 16px;
}

.arrow.up {
	width: 16px !important;
	background-image: url(%%arrows%%);
	background-position: 0 0;
	margin-bottom: 1px;
}

.arrow.down {
	width: 16px !important;
	background-image: url(%%arrows%%);
	background-position: bottom left;
	margin-top: 1px;
}

.arrow.upmod {
	background-image: url(%%arrows%%) !important;
	background-position: top right;
	margin-bottom: 1px;
	width: 16px !important;
}

.arrow.downmod {
	background-image: url(%%arrows%%);
	background-position: bottom right;
	margin-top: 1px;
	width: 16px !important;
}

.score.likes {
	color: #ff9700 !important;
}

.score.dislikes {
	color: #0076c4 !important;
}

score.unvoted {
	color: #999 !important;
}

div.midcol {
	margin-top: 4px;
}

a[href="/spoiler"] {
	background: #333;
	color: #333;
}

a[href="/spoiler"]:visited {
	background: #333 !important;
	color: #333 !important;
}

a[href="/spoiler"]:hover {
	background: #eee !important;
	color: #1c1c1c !important;
}

/*end main page stuff */
/*comment page stuff */

.comments-page p.title a.title, .comments-page p.title a.title:visited {
	color: #1c1c1c !important;
}

/*
.comments-page div.midcol.likes {
	margin: 0 5px 0 5px;
	background: #eee;
	border-radius: 5px;
	padding: 5px;
}
*/

.comments-page a.thumbnail.self {
	display: none;
}

.comments-page div.self .entry {
	padding-left: 5px !important;
}

.comments-page div.self .entry a.author {
	color: #0076C4;
}

.comments-page div.self .entry .md {
	background: #eee;
	border: 0;
}

.commentarea form a.choice {
	color: #1c1c1c;
}

.commentarea  form  a.choice:hover {
	color: #fff;
	background: #0076C4;
}

div.commentarea .dropdown span.selected {
	color: #000;
}

div.commentarea > div.sitetable {
	margin-right: 325px;
}

div.commentarea > div.menuarea {
	color: #000;
}

.commentarea p#noresults {
	color: #0076C4;
}

/* liberally borrowed from RES's css */ 
.comment {
	background-color: #fff;
	border: 1px solid #eee !important;
	border-radius: 3px !important;
	margin: 0 8px 8px 10px !important;
	overflow: hidden !important;
	padding: 5px 8px 0 5px !important;
}
.comment div.child {
	border-left: medium none !important;
}
.comment .comment {
	background-color: #F7F7F8 !important;
	margin-right: 0 !important;
}
.comment .comment .comment {
	background-color: #FFFFFF !important;
}
.comment .comment .comment .comment {
	background-color: #F7F7F8 !important;
}
.comment .comment .comment .comment .comment {
	background-color: #FFFFFF !important;
}
.comment .comment .comment .comment .comment .comment {
	background-color: #F7F7F8 !important;
}
.comment .comment .comment .comment .comment .comment .comment {
	background-color: #FFFFFF !important;
}
.comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #F7F7F8 !important;
}
.comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #FFFFFF !important;
}
.comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
	background-color: #F7F7F8 !important;
}

/* res stuff */

.res_comment_ups, .res_post_ups {
	color: #ff9900 !important;
}

.res_comment_downs, .res_post_downs {
	color: #0076C4 !important;
}

.comments-page div.entry.keyHighlight {
	background: 0 !important;
}

/* extra stuff */

/* Report button message */
.report-button:hover:before {
	position: absolute;
	display: block;
	z-index: 1000;
	padding: 5px;
	border: 1px solid #333;
	background-color: #FFF;
	content: "Please only report posts that actually violate the subreddit's rules.";
	text-align: center;
	font-size: 10px;
	font-weight: normal;
	margin-left: 5px;
	margin-top: 20px
}

/* Downvote tooltip */
.arrow.down:hover:before {
	position: absolute;
	display: block;
	z-index: 1000;
	width: 175px;
	padding: 5px;
	border: 0px solid #333;
	background: #000000;
	content: "Don't downvote just because you don't like it!";
	text-align: center;
	font-size: 10px;
	color: white;
	font-weight: bold;
	margin-left: 25px;
	margin-top: 5px;
}

/* replace "readers" with something else */
	div.titlebox span.word {
	display: none
}

div.titlebox span.number:after {
	content: " Teenagers"
}  

div.titlebox .users-online span.number:after {
    content: " online"
}

.flair-green {
    color:green
}

.flair-banana {
    background: url(%%banana%%) no-repeat;
    border: none;
    height: 21px;
    text-indent: 24px;
    width: 30px;
    display: inline-block
}

.flair-jorts.flair:before { background: url(%%jorts%%) no-repeat  !important;  display: inline-block; content: " "; height: 23px !important; padding: 0; vertical-align: middle;  width: 30px !important }

.flair-jorts {
    background: transparent;
    border: 0;
}

/*--and now for an exercise in futility--*/

/* "No Participation"-Mode, aka "Read Only"-Mode
 * by /u/KortoloB
 * /r/NoParticipation
 * 
 * Link people to np.reddit.com/r/YourSubreddit to show them a read-only version.
 * Subscribers will see the full page, only non-subscribers will see the read-only version.
 * This is of course by no means fool-proof, but it should work for the average user.
 *  */

body:lang(np):not(.subscriber) .arrow
{ 
    visibility: hidden !important;
}

body:lang(np):not(.subscriber) .usertext-edit,
body:lang(np):not(.subscriber) .sidebox.submit,
body:lang(np):not(.subscriber) .commentingAs,
body:lang(np):not(.subscriber) .markdownEditor, 
body:lang(np):not(.subscriber) .report-button,
body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],
body:lang(np):not(.subscriber) .subButtons,
body:lang(np):not(.subscriber) .helplink,
body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle > .option.add
{
    display: none !important;
}

/*
body:lang(np):not(.subscriber) #siteTable:before
{
    content: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
    display: block;
    max-width: 800px;
    background-color: #F6E69F;
    padding: 5px 10px;
    margin: 5px 305px 5px 0px;
    border: 1px solid orange;
    font-size: small;
}
*/

body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,
body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before
{
    content: "Please do not vote or comment when you come from external subreddits.";
    color: red;
    font-size: large;
    font-weight: bold;
}

/* Attempts to disrupt RES from hiding CSS styles */
body.res:lang(np):not(.subscriber) div.titlebox > div[style*='display: block !important'] input:before,
body.res:lang(np):not(.subscriber) div.titlebox > div[style*='display: block !important'] label:before,
body.res:lang(np):not(.subscriber) > div#keyCommandLineWidget > form:before
{
    content: 'Removed by NoParticipation' !important;
    margin-left: -10000px !important;
}

/* Wiki protection */
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for='reason'],
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type='submit']
{
    display: none !important;
}

a[href*="/r/teenagers/comments/1esg6r/update_5_i_still_have_hbo/"].title:before {
	background-image: url(%%hbo%%);
	content: "";
	display: inline-block;
	height: 20px;
	width: 50px;
	margin-right: 5px;
	margin-top: 2px;
	vertical-align: middle;
}

/* Bitcoin tip (LOBSTERS THIS IS FROM WYRDASH, DELETE IT IF IT FUCKS UP THE ORDER YOU HAVE IT IN. */
/* WYRDASH THIS IS LOBSTERS, I'LL HOOK U IN THE GRABBER M8 */
a[href^="http://www.reddit.com/message/compose?to=Bitcointip"]{
 font-weight:bold;
 padding-left:21px;
 background: url(%%bitcoin-icon-16%%) 0 50% no-repeat;
}

.id-t1_cajno6z {
	background-image: url(%%banana%%);
	background-repeat: repeat;
	text-shadow:
	   -1px -1px 0 #fff,  
	    1px -1px 0 #fff,
	   -1px 1px 0 #fff,
	    1px 1px 0 #fff;
}

a[href="/banana/"] {
display: inline-block;
width: 25px;
height: 21px;
content: "";
background: url(%%banana%%) no-repeat;
cursor: default;
}
